<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.diabetics.Diabetes">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.REBOOT" />
	<application android:label="Diabetes App">
		<!-- Will not be called unless the application explicitly enables it -->
		<service android:name="com.diabetics.Diabetes.AppStickyService">
			<intent-filter>
				<action android:name="com.diabetics.Diabetes.AppStickyService" />
			</intent-filter>
		</service>
		<receiver android:name="com.diabetics.Diabetes.AlarmReceiver" android:enabled="false" android:exported="true" android:process=":remote" android:label="AlarmReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
	</application>
</manifest>